<div class="home-main">
  <h1>Otaku Shop</h1>

  <div>
    <%= link_to 'Productos', products_path %>
  </div>
  <div>
    <%= link_to 'Impuestos', taxes_path %>
  </div>
  <div>
    <%= link_to 'Clientes', clients_path %>
  </div>
  <div>
    <%= link_to 'Facturas', bills_path %> 
  </div>
</div>
